body {
    background-image: url("http://www.publicdomainpictures.net/pictures/130000/velka/gray-seamless-background-1438295748lVJ.jpg");
	background-repeat: repeat-x, y;
}
img {
	border:2px solid;
}